<h1>Editing event</h1>

<%= form_for :event, url: event_path(@event), method: :patch do |e| %>

  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@event.errors.count, "error") %> prohibited
        this event from being saved:
      </h2>
      <ul>
        <% @event.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
      <%= e.label :event %><br>
      <%= e.text_field :title %>
  </p>
  <p>
      <%= e.label :summary %><br>
      <%= e.text_area :description %>
  </p>
  <p>
      <%= e.submit %>
  </p>
  <%= e.hidden_field :owner, :value => "Brian"  %>
  <%= e.hidden_field :time_stamp, :value => DateTime.now  %>
<% end %>
<%= link_to 'Back', events_path %>
